<% layout('layouts/boilerplate')  %> 
<div class="row">
    <h1 class="text-center">Update Park</h1>
    <div class="col-6 offset-3">
        <form action="/parks/<%=park._id%>?_method=PUT" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="name">Park Name:</label>
                <input class="form-control" type="text" name="name" id="name" value="<%= park.name %> " required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location:</label>
                <input class="form-control" type="text" name="location" id="location" value="<%= park.location %>" required>
            </div>
            <img src="<%=park.image%>" alt="">
            <div class="mb-3">
                <label class="form-label" for="image">Image Url:</label>
                <input class="form-control" class="form-control" type="text" name="image" id="image" value="<%=park.image%> ">
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Entrance Fee:</label>
                <input class="form-control" type="number" min="0" name="price" id="price" value="<%= park.price %>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="category">Park Type:</label>
                <select class="form-select" name="category" id="category">
                    <option value="state">state</option>
                    <option value="local">local/city</option>
                    <option value="private">private</option>
                    <option value="unknown" selected>unknown</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="parking">Parking Information:</label>
                <input class="form-control" type="text" name="parking" id='parking' value="<%= park.parking %> ">
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description:</label>
                <div>
                <textarea class="form-control" name="description" id="description" cols="30" rows="10"><%=park.description %></textarea>
                </div>
                
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Submit</button>
            </div>
            <a href="/parks">Cancel</a>
        </form>
        </div>
    


