<% layout('layouts/boilerplate')  %> 
<div class="row">
    <div class="col-6">
        <div class="card">
            <img src="<%=park.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= park.name %></h5>
              <p class="card-title"><b><%= park.location %></b></p>
              <p class="card-text">Submitted by: <%= park.author.username %></p>
              <p class="card-text"><%= park.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Type: <%= park.category%> park</li>
              <li class="list-group-item">Entrance fee: $<%= park.price%></li>
              <li class="list-group-item">Parking Info: <%= park.parking %></li>
            </ul>
            <div class="card-body">
              <a href="/parks" class="card-link btn btn-primary">Back to All</a>
              <% if(currentUser && park.author.equals(currentUser._id)) { %> 
              <a href="/parks/<%=park._id%>/edit" class="card-link btn btn-warning">Edit</a>
              <form class="d-inline" action="/parks/<%=park._id%>?_method=DELETE" method="POST">
                <button class="btn btn-secondary">Delete</button>
              </form>
              <% } %> 
            </div>
          </div>
          
    </div>
    <div class="col-6">
      <% if(currentUser){ %> 
      <h2>Leave a Review</h2>
          <form action="/parks/<%=park._id%>/reviews" class="mb-3 validated-form" method="POST" novalidate>
            <div class="mb-3">
              <label class="form-label" for="rating">Rating</label>
              <input class="form-range" type="range" id="rating" name="review[rating]"
                     min="1" max="5">
            </div>
            <div class="mb-3">
              <label class="form-label" for="body" class="">Review</label>
              <textarea class="form-control mb-3" name="review[body]" id="" cols="30" rows="3" required></textarea>
              <button class="btn btn-success">Submit</button>
            </div>
          </form>
        <% } %> 
          <% for(let review of park.reviews) { %>
            <div class="card mb-3 ">
                <div class="card-body">
                    <h5 class="card-title">Rating: <%= review.rating %></h5>
                    <h6 class="card-subtitle mb-2 text-muted">By <%= review.author.username%></h6>
                    <p class="card-text">Review: <%= review.body %></p>
                    
                    <% if(currentUser && review.author.equals(currentUser._id) ) { %> 
                    <form action="/parks/<%=park._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    <% } %> 
                </div>
            </div>
            <% } %>
    </div>
</div>

    
   
